<a href="https://colab.research.google.com/github/ankitkarmakar95/Manage_employee_exit_using_neural_netwrok/blob/main/Manage_employee_exit_using_neural_netwrok.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries imported

In [24]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Importing Data and basic description

In [3]:
emp_exit = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HR_comma_sep.csv')

In [4]:
emp_exit.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
emp_exit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [7]:
emp_exit.shape

(14999, 10)

In [8]:
emp_exit.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

# Data cleansing & EDA

In [10]:
emp_exit.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
dtype: int64

In [18]:
emp_exit[emp_exit.duplicated()]

Int64Index([  396,   866,  1317,  1368,  1461,  1516,  1616,  1696,  1833,
            12000,
            ...
            14989, 14990, 14991, 14992, 14993, 14994, 14995, 14996, 14997,
            14998],
           dtype='int64', length=3008)

In [22]:
emp_exit.drop(emp_exit[emp_exit.duplicated()].index,inplace=True)

In [23]:
emp_exit[emp_exit.duplicated()]

Empty DataFrame
Columns: [satisfaction_level, last_evaluation, number_project, average_montly_hours, time_spend_company, Work_accident, left, promotion_last_5years, Department, salary]
Index: []

In [25]:
scaler = MinMaxScaler()
scaled_values = scaler.fit_transform(emp_exit[["number_project","average_montly_hours","time_spend_company"]])
emp_exit["number_project"] = scaled_values[:,0]
emp_exit["average_montly_hours"] = scaled_values[:,1]
emp_exit["time_spend_company"] = scaled_values[:,2]
emp_exit

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,0.0,0.285047,0.125,0,1,0,sales,low
1,0.80,0.86,0.6,0.775701,0.500,0,1,0,sales,medium
2,0.11,0.88,1.0,0.822430,0.250,0,1,0,sales,medium
3,0.72,0.87,0.6,0.593458,0.375,0,1,0,sales,low
4,0.37,0.52,0.0,0.294393,0.125,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
11995,0.90,0.55,0.2,0.761682,1.000,1,0,1,management,high
11996,0.74,0.95,0.6,0.794393,1.000,0,0,1,management,high
11997,0.85,0.54,0.2,0.415888,1.000,0,0,1,management,high
11998,0.33,0.65,0.2,0.355140,1.000,0,0,1,marketing,high
11999,0.50,0.73,0.4,0.392523,0.125,0,0,0,IT,low